/* Please keep this css code to improve the font quality */
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
}

/* Thin 100 */
.inter-100 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

/* ExtraLight 200 */
.inter-200 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

/* Light 300 */
.inter-300 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

/* Regular 400 */
.inter-400 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

/* Medium 500 */
.inter-500 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

/* SemiBold 600 */
.inter-600 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

/* Bold 700 */
.inter-700 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

/* ExtraBold 800 */
.inter-800 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

/* Black 900 */
.inter-900 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

body {
    margin: 0px;
    width: 100%;
}

.canvas {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: start;
    justify-content: flex-start;
    margin: 0px 300px;

    background-image: radial-gradient(circle, rgb(209, 213, 219) 1px, transparent 0px);
    background-size: 20px 20px;
    background-position: 0px 0px, 10px 10px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* height: min-content; */
    margin: 0;
    padding: 0px 52px;
    height: 70px;
    /* border-bottom: 0.5px solid #c0c0c0; */
    /* pin at top */
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    /* blurred backdrop */
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    background-color: rgba(255, 255, 255, .4);
    transition: box-shadow 0.3s ease;

    .logo {
        font-size: 32px;
        height: min-content;
    }

    .header-email {
        font-size: 20px;
        text-decoration: underline;
        height: min-content;
        color: #000;
        transition: color 0.1s ease;
        text-decoration: none;
    }

    .header-email:hover {
        color: #7aae00;
    }
}

.header.scrolled {
    border-bottom: 0.5px solid rgb(215, 215, 215);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 50px;
    width: 100%;
    gap: 30px;

    .hero-header {
        font-size: 84px;
        margin: 0px;
        text-align: center;
    }

    .hero-content {
        font-size: 48px;
        /* margin: 0px; */
    }

    .intro-mobile {
        display: none;
    }
}

.btn {
    font-size: 24px;
    padding: 15px 30px;
    background-color: #DFFD9B;
    color: #000;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.4s ease;
    /* transition: color 0.4s ease; */
}

.btn:hover {
    background-color: #000;
    color: #fff;
}

.section {
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: start;
    width: 100%;

    .section-title {
        font-size: 48px;
        margin: 0px;
        /* color: #EFEFEF; */
    }
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 0px;
    gap: 30px;

    text-decoration: none;
    color: #000;

    .card-image {
        width: 100px;
        height: 100px;
    }

    .card-image[small] {
        width: 70px;
        height: 70px;
    }

    .card-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;
        justify-content: flex-start;

        .card-title {
            font-size: 32px;
            margin: 0px;
        }

        .card-title:hover {
            text-decoration: underline;
        }

        .card-subtitle {
            font-size: 20px;
            color: #656363;
            margin: 0px;
        }
    }
}

.divider {
    border-top: 0.7px solid #e2e2e2;
    height: 0px;
    width: 100%;
}

.social-links-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0px;

    .social-link {
        padding: 0px 10px;
    }

    .social-image {
        width: 30px;
        height: 30px;
    }

    .social-image:hover {
        fill: red;
    }
}

.social-links-row[headerlinks] {
    margin: 30px 0px;
}

@media (max-width: 1400px) {
    .canvas {
        margin: 0px 200px;
    }
}

@media (max-width: 1100px) {
    .canvas {
        margin: 0px 150px;
    }
    
    .header {
        padding: 0px 20px;
    }

    .hero {
        .hero-header {
            font-size: 64px;
        }

        .hero-content {
            font-size: 42px;
            /* margin: 0px; */
        }

        .intro-desktop {
            display: none;
        }

        .intro-mobile {
            display: block;
        }

        .hero-btn {
            font-size: 22px;
        }
    }

    .section {
        .section-title {
            font-size: 32px;
        }
    }

    .card {
        padding: 20px 20px;
        gap: 20px;

        .card-image {
            width: 80px;
            height: 80px;
        }

        .card-image[small] {
            width: 80px;
            height: 80px;
        }

        .card-content {
            gap: 10px;

            .card-title {
                font-size: 24px;
            }

            .card-subtitle {
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 1000px) {
    .canvas {
        margin: 0px 90px;
    }
}

@media (max-width: 900px) {
    .canvas {
        margin: 0px 70px;
    }
}

@media (max-width: 800px) {
    .canvas {
        margin: 0px 30px;
    }
}

@media (max-width: 768px) {
    .canvas {
        margin: 0px 15px;
    }
    
    .hero {
        .hero-header {
            font-size: 56;
        }

        .hero-content {
            font-size: 34px;
            /* margin: 0px; */
        }

        .intro-desktop {
            display: none;
        }

        .intro-mobile {
            display: block;
        }

        .hero-btn {
            font-size: 20px;
        }
    }

    .card {
        padding: 10px 0px;
        gap: 20px;

        .card-image {
            width: 70px;
            height: 70px;
        }

        .card-image[small] {
            width: 65px;
            height: 65px;
        }

        .card-content {
            gap: 10px;

            .card-title {
                font-size: 24px;
            }

            .card-subtitle {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 1100px) and (orientation: landscape) {
    .hero {
        height: max-content;
        margin-top: 60px;
    }
}

/* 404 page only styles */
.header-link {
    text-decoration: none;
    color: #000;
}